html,
body {
  height: 100%;
}
body {
  background: #070807;
  color: white;
  margin: 0;
}
body,
input,
select,
button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;

  &.droppable {
    background: red;
  }

  > div {
    flex: 1;
  }

  > section {
    width: 100%;

    &:first-child {
      flex: 1;
    }
  }

  img,
  canvas {
    image-rendering: pixelated;
    height: auto;
    width: 100%;
  }
}

section {
  align-items: center;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
  }
}

select,
label,
button {
  align-items: center;
  appearance: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  height: auto;
  justify-content: center;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
}

button {
  background-color: white;
  border: none;
  color: black;
}

select,
label {
  background-color: black;
  border: 1px solid white;
  color: white;
}

input[type="file"] {
  display: none;
}

#image {
  width: 5rem;

  img {
    max-width: 100%;
  }
}

section:has(#audio:not(:empty)) label[for="input-audio"] {
  display: none;
}
section:has(#image:not(:empty)) label[for="input-image"] {
  display: none;
}

section:has(#result:empty) ~ section #play {
  display: none;
}

#audio:empty,
#image:empty {
  display: none;

  ~ * {
    display: none;
  }
}

#result {
  display: grid;
  height: 100%;
  place-content: center;
  width: 100%;

  img,
  canvas {
    height: auto;
    max-height: 75svh;
    max-width: 75svw;
    width: auto;
  }
}
